<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Welcome to MatechCoding QuickStart</mat-card-title>
    <mat-card-subtitle class="mat-body-1">
      A startup project template for Quick Application Development.
      This application template provides a quick and convenient way to create ASP.NET Core 8.0 / Angular 17
      applications.
    </mat-card-subtitle>


    <mat-list>
      <mat-list-item>
        <span matListItemTitle class="f-s-16 f-w-600">Technologies</span>
        <span matListItemLine class="mat-body-1">Template pages with Angular 17 and TypeScript</span>
        <span matListItemLine class="mat-body-1">RESTful API Backend using ASP.NET Core 8.0 Web API</span>
        <span matListItemLine class="mat-body-1">Database using Entity Framework Core</span>
        <span matListItemLine class="mat-body-1">Authentication/Authorization based on OIDC/OAuth2 and ASP.NET Core
          Identity</span>
        <span matListItemLine class="mat-body-1">API Documentation using Swagger</span>
        <span matListItemLine class="mat-body-1">Client-side built on Angular CLI</span>
        <span matListItemLine class="mat-body-1">Theming using Angular Material 16</span>
        <span matListItemLine class="mat-body-1"></span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>