<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Welcome to MatechCoding QuickStart</mat-card-title>
    <mat-card-subtitle class="mat-body-1">
      ASP.NET Core / Angular starting point project with SOLID Architecture, Advanced Authentication & Authorization,
       user and role management, and other useful services for Quick Application Development.
    </mat-card-subtitle>


    <mat-list>
      <mat-list-item>
        <span matListItemTitle class="f-s-16 f-w-600">This application consists of:</span>
        <span matListItemLine class="mat-body-1">Onion Architecture</span>
        <span matListItemLine class="mat-body-1">Database using Entity Framework Core</span>
        <span matListItemLine class="mat-body-1">Advanced Authentication/Authorization</span>
        <span matListItemLine class="mat-body-1">Real-time push notification system (with SignalR integration)</span>
        <span matListItemLine class="mat-body-1">Swagger integration</span>
        <span matListItemLine class="mat-body-1">Angular Material and TypeScript</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>